/* src/Navigation.css */

/* Styles for the navigation bar container */
.navbar {
    display: flex; /* Uses flexbox layout to align child elements */
    justify-content: center; /* Centers child elements horizontally within the container */
    background-color: #ffffff; /* Sets the background color of the navbar to white */
    padding: 10px; /* Adds padding inside the navbar, around its content */
  }
  
  /* Styles for the navigation links */
  .nav-link {
    color: rgb(20, 232, 48); /* Sets the text color of the links to a bright green */
    text-decoration: none; /* Removes the default underline from links */
    margin: 0 15px; /* Adds horizontal margin (left and right) between the links */
  }
  
  /* Styles for the navigation links when hovered over */
  .nav-link:hover {
    text-decoration: underline; /* Adds an underline to links when hovered over */
  }